#header {
    padding: 16px 60px;
    line-height: 32px;
    margin-bottom: 20px;
}

#header row {
    margin-bottom: 0px;
}

#extension-name {
    background-image: url('/img/icon-32.png');
    background-repeat: no-repeat;
    padding: 0 40px;
    margin-bottom: 0;
}

#header-info span {
    padding: 9px 10px;
    cursor: pointer;
}

#status {
    margin-left: 15px;
}

#content {
    padding: 20px 60px;
}

#extension-settings row {
    margin-bottom: 10px;
}

input[type="range"] {
    margin-right: 15px;
}
