body {
    margin: 0;
    font-size: 12px;
}

#popup {
    width: 300px;
    padding: 10px 8px;
}

#hints a {
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}

#hints {
    padding-bottom: 5px;
    border-bottom: 1px solid silver;
    text-align: right;
}

#recent-cache {
    padding-top: 5px;
}

#recent-cache ol {
    padding: 0;
    margin:0;
}

li.cache-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    list-style-position: inside;
}

li.selected {
    color: green;
    font-weight: bold;
}
